/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

header.hero {
  background: url('https://media.istockphoto.com/id/1156130293/photo/group-of-gujarati-snacks-like-jalebi-fafda-thepla-khaman-dhokla-aloo-bhujiya-khandvi-khakra.jpg?s=1024x1024&w=is&k=20&c=v0gz5XpttvzQfpMJvPJtnUXUZ0rMk_Tip47-sxJ1aE8=') no-repeat center center/cover;
  color: rgb(5, 5, 5);
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f4c542;
}

.hero-content {
  text-align: center;
  padding-bottom: 100px;
  animation: fadeInUp 1.5s ease forwards;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.btn {
  padding: 12px 25px;
  background: #00eeff;
  color: black;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 20px;
  transition: background 0.3s;
}

.btn:hover {
  background: rgb(95, 151, 95);
}

/* Fade-in animation classes */
.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

.delay-1 {
  animation-delay: 0.5s;
}
.delay-2 {
  animation-delay: 1s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Sections */
.section {
  padding: 60px 20px;
  text-align: center;
  background-color: #e08dc5;
  background: url("https://media.istockphoto.com/id/1209217200/photo/3d-warehouse-and-floor.jpg?s=1024x1024&w=is&k=20&c=P3SWWiGRBmxj6J_b9pvKkPUGifkAlvNGOt622VJF0V4=");
  animation: fadeInUp 1.5s ease forwards;
}

.menu ul {
  list-style: none;
  margin-top: 20px;
    animation: fadeInUp 1.5s ease forwards;
}

.menu li {
  font-size: 1.1rem;
  margin: 10px 0;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}
